body {
  margin: 0px;
  text-align: center;
  font-family: century-gothic;
}

h1 {
  margin-top: 0;
}
.pro{
  text-decoration: underline;
}
.top-cloud{
  right: 300px;
  top: 50px;
  position: absolute;
}
.top-container {
  background-color: aqua;
  padding-top: 100px;
  position: relative;
}
.middle-container {

}
.bottom-container {
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300;
}